<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vitalsignscheckup">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <permission
        android:name="android.permission.BLUETOOTH"
        android:label="BLUETOOTH" />
    <permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".monitor.HeartRateTest"/>
        <activity android:name=".monitor.TemperatureTest"/>
        <activity android:name=".config.DeviceActivity" />
        <activity android:name=".config.ScanActivity" />
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".checkHistory" />
        <activity android:name=".monitor.StressLevel" />
        <activity android:name=".monitor.BloodPressure" />
        <activity android:name=".monitor.HeartRate" />
        <activity android:name=".config.ConfigActivity" />
        <activity
            android:name=".MainActivity2"
            android:theme="@style/MaterialCardTheme" />
        <activity android:name=".monitor.Temperature" />
        <service android:name=".monitor.services.HeartRateService" />
    </application>

</manifest>