<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="com.example.vitalsignscheckup">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <permission
        android:name="android.permission.BLUETOOTH"
        android:label="BLUETOOTH" />
    <permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

<application
    android:name=".App"
    android:icon="@drawable/vsc_logo"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">
    <service android:name=".ServiceHeartRate" />
    <service android:name=".ServiceBloodPressure" />
    <service android:name=".ServiceTemperature" />
    <service android:name=".ServiceNotification" />
    <activity android:name=".DeviceActivity"/>
    <activity android:name=".ScanActivity" />
    <activity android:name=".SplashScreenActivity">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
    <activity android:name=".CuidadorMonitorBloodPressure"/>
    <activity android:name=".CuidadorMonitorStressLevel"/>
    <activity android:name=".CuidadorMonitorHeartRate"/>
    <activity android:name=".CuidadorMonitorTemperature"/>
    <activity android:name=".checkHistory" />
    <activity android:name=".MonitorStressLevel" />
    <activity android:name=".MonitorBloodPressure" />
    <activity android:name=".MonitorHeartRate" />
    <activity android:name=".ConfigActivity" />
    <activity android:name=".MisCuidadoresActivity" />
    <activity android:name=".MisPacientesActivity" />
    <activity android:name=".ListaCuidadores" />
    <activity android:name=".ListaPacientes" />
    <activity android:name=".MainActivity2"
        android:theme="@style/MaterialCardTheme" />
    <activity android:name=".MainActivityCuidadores" />
    <activity android:name=".MonitorTemperature" />
    <activity android:name=".ActivityRegister"
        android:theme="@style/AppTheme.NoActionBar"/>
    <activity android:name=".ActivityLogin"
        android:theme="@style/AppTheme.NoActionBar">
    </activity>
</application>

</manifest>